// Global styles

$colors: (
    "lightblue": #66c5e6,
    "blue": #114b5f,
    "teal": #1a936f,
    "green": #88d498,
    "yellow": #ffdf68,
    "orange": #DB8200,
    "red": #f00,
    "darkred": #e42109,
    "grey": #c6dabf,
    "white": #f3e9d2,
    "black": #272727,
    "dark": lighten(#272727, 10%),
);

@keyframes bounce {
    0% {
        filter: #{saturate(1)};
        transform: scale(1);
    }
    50% {
        filter: #{saturate(2)};
        transform: scale(1.025);
    }
    100% {
        filter: #{saturate(1)};
        transform: scale(1);
    }
}

@each $name, $value in $colors {
    :root {
        --#{$name}: #{$value};
    }

    .#{$name} {
        color: #{$value};
    }

    .bg-#{$name} {
        background: #{$value};
    }

    svg path.fill-#{$name}, svg g.fill-#{$name} {
        fill: #{$value};
    }

    .btn-#{$name} {
        border: 0;
        padding: 0.75rem 1rem;
        background: #{$value};
        color: #fff;
        border-radius: 0.25rem;
        font-weight: 300;
        cursor: pointer;

        &:hover, &:focus {
            background: darken($value, 10%);
        }
    }
}

body {
    background: var(--black);
    color: var(--white);
    font-family: "Lora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.flip-list-move, .flip-list-enter-active, .flip-list-leave-active {
  transition: transform 0.25s;
}

.flooding {
    position: relative;
    @extend .fill-blue;
}
